<footer>
    <div class="container-fluid base-footer">
        <div class="container address-info">
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12">
                        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;哈尔滨工业大学</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>&nbsp;XXXX-XXXXXXXX</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-4 text-center">
                <div class="row">
                    <div class="col-md-12">
                        <p>Copyright © 2014-2015 Hunters All rights reserved.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Powered by <a href="http://yumendy.com">Duan Yi</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>