{% extends 'website/base_frame.html' %}

{% block title %}{% endblock %}

{% block external_head %}{% endblock %}

{% block body %}
{% include 'website/header.html' %}
    <div class="main-page">
        {% if carousel_list %}
            <div class="container-fluid">
                {% include 'carousel/carousel_weight.html' %}
            </div>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-md-9 left-content">
                    {% block left %}{% endblock %}
                </div>
                <div class="col-md-3 right-content">
                    {% include "website/right_sidebar.html" %}
                </div>
            </div>
        </div>
    </div>
{% include 'website/footer.html' %}
{% endblock %}

{% block external_js %}
<script type="text/javascript">
    $(function(){
            if ($('body').height() < 650)
            {
                $('.main-page').height(430);
            }
        })
</script>
{% block js %}{% endblock %}
{% endblock %}