{% extends 'website/dashboard/dashboard_base.html' %}

{% block option-title %}
    LIST NAVITEM
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <table class="table table-hover table-responsive table-condensed dashboard-table">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>标题</th>
                    <th>URL</th>
                    <th>展示顺序</th>
                    <th>动作</th>
                </tr>
            </thead>
            <tbody>
                {% for item in navbar_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.title }}</td>
                        <td><a href="{{ item.url }}">{{ item.url }}</a></td>
                        <td>{{ item.show_order }}</td>
                        <td>
                            <a href="{% url 'navbar-update' item.pk %}" class="btn btn-warning" role="button">修改</a>
                            &emsp;
                            <a href="#" class="btn btn-danger" role="button" data-id="{{ item.id }}">删除</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'utils/modal.html' %}
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $('.btn-danger').on('click',
            function (e) {
                var dom_item = this;
                $.ajax({
                    type:"POST",
                    dataType:'json',
                    data:{},
                    url:'{% url "navbar-delete" 00 %}'.replace('0', this.dataset['id']),
                    success:function(data){
                        var state = data.state;
                        if(state == 'success'){
                            dom_item.parentElement.parentElement.setAttribute('hidden','');
                            showModal('success', "删除成功！")
                        }
                    },
                    error:function(data){
                        alert(data);
                    }
                });
            })
    </script>
{% endblock %}