{% extends 'website/frontend_base.html' %}

{% block title %}文章列表{% endblock %}

{% block external_head %}{% endblock %}


{% block left %}
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">动态列表</h3>
            </div>
            <div class="list-group">
            {% for article in article_list %}
                <a href="{% url 'blog-detail' article.id %}" class="list-group-item">
                    <h4 class="list-group-item-heading">[{{ article.category }}]{{ article.title }}</h4>
                    <p class="list-group-item-text">{{ article.author }}</p>
                    <p class="list-group-item-text text-info">{{ article.modification_time|date:"Y-m-d" }}&nbsp;{{ article.modification_time|time:"H:i" }}</p>
                </a>
            {% endfor %}
            {% include 'utils/pagination.html' %}
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}{% endblock %}