<div class="col-md-12">
    <div class="list-group">
    {% for article in article_list %}
        <a href="{% url 'blog-detail' article.id %}" class="list-group-item">
            <h4 class="list-group-item-heading">[{{ article.category }}]{{ article.title }}</h4>
            <p class="list-group-item-text">{{ article.author }}</p>
            <p class="list-group-item-text text-info">{{ article.modification_time|date:"Y-m-d" }}&nbsp;{{ article.modification_time|time:"H:i" }}</p>
        </a>
    {% endfor %}
    {% if has_more_article %}
        <a href="{% url 'blog-list' %}" class="list-group-item text-right">更多...</a>
    {% endif %}
    </div>
</div>