{% extends 'website/base_frame.html' %}
{% load staticfiles %}

{% block title %}{{ COMMUNITY_NAME }}管理后台{% endblock %}

{% block external_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>
{% endblock %}

{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ COMMUNITY_NAME }}后台管理</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'settings' %}">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% block nav %}{% endblock %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">{% block option-title %}{% endblock %}</h1>
            <div class="row placeholders">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block external_js %}
{% block js %}{% endblock %}
{% endblock %}